/* styling the outter-most container */
.container {
  margin-top: 2rem;
}

/* styling the heading  */
h2 {
  margin-top: 1rem;
  text-align: center;
  color: rgb(34, 114, 94);
}

/* styling form element */
.form-wrapper {
  width: 25%;
  margin: 0 auto;
  padding: 1rem 1.5rem 2rem;
  background-color: rgb(176, 236, 221);
  box-shadow: 0 5px 20px 8px rgb(199, 203, 204);
  border-radius: 0 1.2rem 1.2rem 0.6rem;
}

.form-block {
  margin-bottom: 1rem;
}

/* styling the input field of the form */
.form-control {
  width: 97%;
  font-weight: bolder;
  height: 2rem;
  outline: none;
  padding-left: 0.5rem;
  background-color: rgb(245, 240, 240);
  border: none;
}

/* styling the select element of the country field */
select {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
}

/* styling the submit button of the form  */
button {
  width: 40%;
  height: 2rem;
  font-size: 1rem;
  /* margin-top: 1rem; */
  background-color: rgb(87, 115, 126);
  color: white;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

/* styling the error-message field */

.form-block > .error-message {
  color: rgb(238, 34, 34);
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: bolder;
}
